<div class="card mt-5">
<div class="card-body">
<h3 class="text-center">
Registro de Pacientes
</h3>
<br>
<!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'pacienteForm' -->
<form id="formulario" #pacienteForm="ngForm" (ngSubmit)="onSubmit(pacienteForm)">

<!-- TO UPDATE -->
<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="pacienteService.selectedPaciente.$key">

<div class="form-group">
<label for="exampleFormControlInput1">Nombre</label>
<input type="text" class="form-control" name="name" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.name" placeholder="Agregar Nombre">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Numero de DUI</label>
<input type="text" class="form-control" name="dui" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.dui" placeholder="Agregar DUI">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Nombre de la mascota</label>
<input type="text" class="form-control" name="mascota" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.mascota" placeholder="Agregar Mascota">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Tratamiento aplicable</label>
<input type="text" class="form-control" name="tratamiento" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.tratamiento" placeholder="Agregar Tratamiento">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Medicamento recetado</label>
<input type="text" class="form-control" name="medicamento" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.medicamento" placeholder="Agregar Medicamento">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Numero de visita</label>
<input type="text" class="form-control" name="visita" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.visita" placeholder="Agregar Visita">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">Costo total</label>
<input type="text" class="form-control" name="costo" #name="ngModel"
[(ngModel)]="pacienteService.selectedPaciente.costo" placeholder="Agregar Costo">
</div>

<div class="form-group">
<button class="btn btn-primary" type="submit">Agregar</button>
<br>
<br>
<button class="btn btn-warning" type="reset" (click)="resetForm(pacienteForm)">Limpiar</button>
</div>
</form>
</div>
</div>